html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: "Corbel";
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -moz-box;
	-moz-box-align: center;
	-moz-box-pack: center;
	-moz-box-orient: horizontal;
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 320px;
	background: -webkit-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	background: -moz-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	background: -ms-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	background: -o-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	z-index: 0;
	border-right: 1px solid black;
	font-family: "Lucida Grande";
	font-size: 12px;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-moz-box-align: center;
}

#flags {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

#flags div.container {
	-webkit-box-flex: 1;
	overflow: auto;
	padding: 0 10px;
	-webkit-transition: -webkit-filter 1s ease-in-out;
}

#usersearch {
	width: 100%;
}

#viewpreferences {
	position: relative;
	border-top: 1px solid rgba(255,255,255,0.2);
	background: rgb(202, 219, 229);
}

#viewpreferences::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: 0 0 12px rgba(0,0,0,0.35);
	border-radius: 200px/10px;
	z-index: -2;
}

#mapcontainer {
	position: absolute;
	top: 0;
	left: 320px;
	right: 0;
	bottom: 0;
	background: #83ab39;
	overflow: hidden;
}

#mapcontainer svg {
	position: relative !important; /* Important fällt weg, sobald SVG fertig */
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	-webkit-transition: -webkit-filter 1s ease-in-out;
}

#toolbar {
	height: 30px;
	/*background: -webkit-linear-gradient(rgb(212, 154, 37), rgb(212, 154, 37));*/
	background: rgb(29, 53, 67);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	position: relative;
	padding: 0 10px;
}

#toolbar button {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	height: 100%;
	vertical-align: top;
	color: white;
	-webkit-transition: opacity 0.5s ease-in-out, left 0.7s ease-in-out, -webkit-filter 1s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out, left 0.7s ease-in-out;
}

#toolbar button:active {
	-webkit-filter: drop-shadow(white 0 0 6px);
}

#toolbar button.rightside {
	margin-left: 10px;
}

#toolbar .group {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	display: -webkit-box;
}

#toolbar.searchEnabled button:not(#searchbutton) {
	opacity: 0;
}

#toolbar.addFlagEnabled button {
	opacity: 0;
}

#searchbutton {
	margin-left: 0;
	position: relative;
	left: 0px;
}

#searchbutton img {
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
}

#toolbar.searchEnabled #searchbutton {
	left: -284px;
}

#toolbar.searchEnabled #searchbutton img {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

#searchField {
	position: absolute;
	left: 20px;
	right: 200px;
	top: 0;
	bottom: 0;
	-webkit-appearance: none;
	border: none;
	background: transparent;
	color: white;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	outline: none;
	/* für Firefox */
	height: 100%;
	-moz-box-sizing: border-box;
	padding-left: 10px;
}

#searchField::-webkit-search-cancel-button, #searchField::-webkit-search-decoration {
	-webkit-appearance: none;
}

#newFlagTooltip {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: white;
	line-height: 30px;
	padding: 0;
	margin: 0;
	opacity: 0;
	z-index: -2;
	-webkit-transition: opacity 0.2s ease-in-out;
}

#toolbar.addFlagEnabled #newFlagTooltip {
	opacity: 1;
	z-index: 1;
}

#toolbar.searchEnabled #searchField {
	opacity: 1;
	right: 10px;
	-webkit-transition-delay: 0.7s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-delay: 0.7s;
	-moz-transition-duration: 0.5s;
}

#searchField::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.finishScaling * {
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
	-ms-transition: -ms-transform 0.5s ease-in-out;
}

#visibilities {
	padding: 10px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-webkit-transition: -webkit-filter 1s ease-in-out;
}

#visibilities ul {
	list-style: none;
	padding: 0;
	-webkit-column-break-inside: avoid;
}

#visibilities h1 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-column-break-after: avoid;
	margin-top: 0;
}

#visibilities li.inactive {
	opacity: 0.5;
}

#mapscaler {
	-webkit-transition: -webkit-filter 1s ease-in-out;
}

#addSelectionMask {
	position: absolute;
	background: white;
	top: 10px;
	left: 0;
	list-style: none;
	padding: 5px;
}

body[data-loggedin=false] #login {
	background: white;
	padding: 30px;
}

body[data-loggedin=false] #login::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(0,0,0,0.7);
}

body[data-loggedin=false] aside, body[data-loggedin=false] #mapcontainer {
	z-index: -2
}

body[data-loggedin=false] #mapcontainer svg, body[data-loggedin=false] #flags .container, body[data-loggedin=false] #visibilities, body[data-loggedin=false] #mapscaler {
	-webkit-transition: -webkit-filter 1s ease-in-out;
	-webkit-filter: blur(10px);
}

body[data-loggedin=false] #flags button {
	-webkit-filter: blur(2px);
}