body {
	height: 100%;
	overflow: hidden;
	font-family: "Corbel";
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 320px;
	background: -webkit-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	background: -moz-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	background: -ms-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	background: -o-linear-gradient(rgb(202, 219, 229), rgb(219, 231, 237));
	z-index: 0;
	border-right: 1px solid black;
	font-family: "Lucida Grande";
	font-size: 12px;
}

#flags {
	padding: 20px 10px;
}

#usersearch {
	width: 100%;
}

#viewpreferences {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid rgba(255,255,255,0.2);
	background: rgb(202, 219, 229);
}

#viewpreferences::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: 0 0 12px rgba(0,0,0,0.35);
	border-radius: 200px/10px;
	z-index: -2;
}

#viewpreferences fieldset {
	border: none;
}

#viewpreferences legend {
	display: none;
}

#choosemap {
	list-style: none;
	background: rgba(69, 94, 109, 0.15);
	padding: 0 10px;
	overflow: hidden;
	display: -webkit-box;
	margin-bottom: 20px;
}

#choosemap li {
	-webkit-box-flex: 1;
	text-align: center;
	line-height: 3;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

#choosemap li.active {
	background: rgba(0, 0, 0, 0.2);
}

#mapcontainer {
	position: absolute;
	top: 0;
	left: 320px;
	right: 0;
	bottom: 0;
	background: #83ab39;
}

#mapcontainer img {
	width: 100%;
	height: 100%;
}