#federal {
	fill: hsl(43, 89%, 89%);
	fill : #ffefa8;
	fill : #fff7d3;
	stroke-width: 0;
}

#counties {
	stroke: #ffeb92;
	stroke: #957d13;
	stroke: #ffd721;
}

#rivers {
	stroke: #2594d4;
}

#motorways {
	stroke-width: 1.5;
}